body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #1a1a1a, #0d0d0d);
  color: white;
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.top {
  display: flex;
  justify-content: center;
}

button {
  background: none;
  border: 3px solid transparent;
  color: #bbb;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  color: white;
  background-color: #434343;
  cursor: pointer;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 900px;
}
